body{
padding:0;
margin:0;

}
h1,h2,h3,h4,h5,h6,h7{
font-weight:bold;
}
.list{
padding-left: 0rem;}
.list li{
list-style: none;
padding-left:0;
}
.carsousel-caption {
    width: 50%;
    position: absolute;
    top: 35%;
    color: purple;
    left: 13%;
    }